<?php
  session_start();
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guardian - Cadastrar Carro</title>
    <link rel="stylesheet" href="../../Assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="../../Assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">

</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST" action="../../Controllers/carro/cadastrarCarro.php">
            <select name="marca" style="margin-bottom: 2rem">
                <option value="hyundai">Hyundai</option>
                <option value="chevrolet">Chevrolet</option>
                <option value="fiat">Fiat</option>
                <option value="caloi">Caloi</option>
                <option value="bmw">BMW</option>
            </select>
            <input type="text" name="car_model" placeholder="Modelo" required/>
            <input type="number" name="year" placeholder="Ano" required/>
            <input type="number" name="seats_qtd" placeholder="Quantidade de Lugar" required/>
            <input type="number" name="door_qtd" placeholder="Quantidade de Portas" required/>
            <input type="number" name="chassi" placeholder="Chassi" required/>
            <input type="text" name="placa" placeholder="Placa" required/>
            <input type="text" name="Status" placeholder="Status" required/>
            <input type="text" name="valor" placeholder="Valor da Diária R$" required/>
            <input type="checkbox" name="">Ar condicionado
            <input type="checkbox" name="">ABS
           
            <button>Cadastrar Carro</button>
          </form>
        </div>
      </div>
</body>
</html>