<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SUCESSO!!!</title>
    <link rel="stylesheet" href="../../Assets/css/login_sucesso.css">
    <meta HTTP-EQUIV='Refresh' CONTENT='3;URL=../carro/form_aluguel.php'>
</head>
<body>
    <div id="loading-wrapper">
        <div id="loading-text">Sucesso! Redirecionando</div>
        <div id="loading-content"></div>
    </div>
</body>
</html>