<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <title>Guardian - Dashboard</title>
</head>

<body>
    <div class="nav-side-menu">
        <div class="brand">
            <img src="img/logo_bg_none.png" width="150rem" alt="logo">
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="#">
                        <i class="fa fa-gift fa-lg"></i> Carros Alugados
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-user fa-lg"></i> Usuários
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <div id="card-wrapper">
            <div class="card-carro">
                <h3>ID: </h3> <p>17</p>
                <h3>Marca: </h3> <p>Hyundai</p>
                <h3>Modelo: </h3> <p>HB20</p>
                <h3>Cliente: </h3> <p>Mc Maha</p>
                <h3>Valor: </h3> <p>R$ 145,00</p>
                <div class="icons">
                    <a href="#"><i class="glyphicon glyphicon-ok"></i> Confirmar</a>
                    <a href="#"><i class=""></i></a>
                    <a href="#"><i class=""></i></a>
                </div>
            </div>

            <div class="card-carro">
                <h3>ID: </h3> <p>22</p>
                <h3>Marca: </h3> <p>Chevrolet</p>
                <h3>Modelo: </h3> <p>Celta</p>
                <h3>Cliente: </h3> <p>Fulano de Tal</p>
                <h3>Valor: </h3> <p>R$ 75,00</p>
                <div class="icons">
                    <a href="#"><i class="glyphicon glyphicon-ok"></i> Confirmar</a>
                    <a href="#"><i class=""></i></a>
                    <a href="#"><i class=""></i></a>
                </div>
            </div>

            <div class="card-carro">
                <h3>ID: </h3> <p>112</p>
                <h3>Marca: </h3> <p>Ford</p>
                <h3>Modelo: </h3> <p>Ka</p>
                <h3>Cliente: </h3> <p>Sidney Magal</p>
                <h3>Valor: </h3> <p>R$ 105,00</p>
                <div class="icons">
                    <a href="#"><i class="glyphicon glyphicon-ok"></i> Confirmar</a>
                    <a href="#"><i class=""></i></a>
                    <a href="#"><i class=""></i></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>